.home-page {
  position: relative;
  background-color: #CE2829;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  overflow: hidden;
}

@media (max-width: 540px) {
  .home-page {
    background-size: cover;
    background-position: center 140px;
  }
}